@mixin display-flex {
    display: flex;
    justify-content: center;
}
@mixin  display-grid {
    display: grid;
    grid-template-columns: 1fr;
}
@mixin  justify-around {
    display: flex;
    justify-content: space-around;
}