$color: white;
$backgroundBlack: black;
$hover-color: rgb(84, 196, 84);
$width: 100%;
$displayFlex: flex;
$textCenter: center;
$font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$fontSmall: small;
$displayInline:inline;
$fontXxSmall:xx-small;
$fontXxLarge:xx-large;
$fontLarge:large;
$fontMedium:medium;